@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  color:#292b2c!important
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

/* COMEÇO */

.form-inline > a > img {
  padding-left: 10px;
  max-height: 40px;
}

.navbar-brand {
  font-family: 'Quicksand', sans-serif;
}

/* ALBUM CSS */

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* CARD INÍCIO */

.card {
  float: left;
  width: 50%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card > a > img {
  margin-bottom: .75rem;
  width: 100%;
}

/* CARD CONTATO */

.card-contato {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  text-align: center;
}

.card-contato > img {
  margin-bottom: .75rem;
}

.card-contato > a > img {
  margin-bottom: .75rem;
  width: 100%;
}

.card-text {
  font-size: 100%;
}

/* CARD VAZIO */


.card-vazio {
  text-align: center;
  float: center;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card-vazio > img {
  margin-bottom: .75rem;
  width: 50%;
}

/* BOTÃO ENVIAR CONTATO */

.btn-danger {
  color:#fff;
  background-color:#292b2c;
  border-color:#fff;
}

.btn-danger:hover {
  color:#fff;
  background-color:#292b2c;
  border-color:#292b2c;
}

/* TEXTO PÁGINA */

.text-muted {
  color:#292b2c!important
}

a.text-muted:focus,a.text-muted:hover {
  color:#292b2c!important
}

/* COPYRIGHT */

.text-copyright {
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #292b2c;
  text-align: center;
  color: #ffffff;
}

html {
  position: relative;
  min-height: 100%;
}

/* OFF

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}*/